.idea
out
src/META-INF
src/resources/objects/*
!src/resources/objects/cube.obj
src/resources/textures/*
!src/resources/textures/terrain_grass.jpg
!src/resources/textures/terrain_map.png
!src/resources/textures/black_wall.png
*.log
*.iml
